body,
* {
    margin: 0px;
    padding: 0px;
}

* {
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}


.container {
    max-width: 90%; /* Maximum width is 90% of the parent element */
    margin: 0 auto; /* Center the container */
    padding: 0 15px; /* Add some padding */
}

.ai-universe-hub h1, .feature-ai-card h3, .date-ai-card h3{
    color: #111111;
}

.ai-universe-hub {
    text-align: center;
    margin-bottom: 60px;
}

.ai-universe-hub h1 {
    font-size: 2.4rem;
    margin-bottom: 15px;
}

.ai-universe-hub button {
    background-color: #EB5757;
    padding: 15px 25px;
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.ai-universe-hub button:hover{
    background-color: #ca4949;
}

.wrapper {
    padding: 40px 0px;
}

.singel-ai-card {
    width: 32%;
    padding: 18px;
    border: 2px solid #1111111A;
    border-radius: 12px;
}

.ai-card-img {
    width: 100%;
}

.ai-card-img img {
    width: 100%;
}

.feature-list ol {
    margin-left: 22px;
    color: #585858;
    font-size: 1rem;
}

.feature-list ol li {
    padding-bottom: 7px;
}

.feature-ai-card h3, .date-ai-card h3 {
    font-size: 1.6rem;
    font-weight: 600;
}

.feature-list {
    padding: 10px 0px 20px 0px;
}

.feature-ai-card {
    margin-top: 20px;
    border-bottom: 1px solid #11111133;
}


.date-ai-card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.icons-ai-card {
    margin-top: 12px;
}

.icons-ai-card {
    display: flex;
    align-items: center;
    gap: 12px;
}

.icons-ai-card i {
    font-size: 25px;
}

.arrow-right {
    display: flex;
    background-color: #FEF7F7;
    padding: 12px 13px;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.arrow-right i{
    color: #EB5757;
}


.ai-card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 25px;
}

.btn-see-more-container {
    margin-bottom: 0;
    margin-top: 50px;
}

.hidden{
    display: none;
}


/* Modal */

.ai-modal-container{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0%;
    left: 0%;
    background-color: rgba(57, 64, 71, 0.356);
    overflow: auto;
   
}

.modal-main-box {
    width: 60%;
    background-color: white;
    border-radius: 10px;
    padding: 60px;
   
}

.modal-content-img-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.modal-content-box {
    width: 50%;
}

.modal-img-box {
    width: 50%;
    border: 1px solid #E7E7E7;
    padding: 15px;
    border-radius: 10px;
}

.modal-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 85px 0px;
}

.modal-content-box {
    border: 1px solid #EB5757;
    padding: 20px;
    border-radius: 10px;
    background-color: #EB57570D;
}

.modal-img {
    width: 100%;
    position: relative;
}

.modal-img img {
    width: 100%;
}

.modal-des p {
    font-weight: bold;
    line-height: 22px;
    font-size: 1.02rem;
}

.modal-price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.7rem;
    font-weight: 700;
    gap: 15px;
    padding: 16px 0px;
}

.basic-price {
    /* padding: 10px 20px; */

    width: 32%;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 14px;
    background-color: white;
    text-align: center;
    border-radius: 8px;
}

.basic-price:first-child{
    color: #03A30A;
}

.basic-price:nth-child(2){
    color: #F28927;
}

.basic-price:last-child{
    color: #EB5757;
}

.modal-feature-inte-container {
    display: flex;
    justify-content: space-between;
}

.feature h3, .modal-des p, .modal-img-des h3{
    color: #111111;
}

.feature h3 {
    font-size: 1.13rem;
    margin-bottom: 10px;
}

.feature ul {
    font-size: 0.77rem;
    margin-left: 18px;
}

.feature ul li {
    margin-bottom: 5px;
    color: #585858;
}

.feature ul li:last-child{
    margin-bottom: 0px;
}

.modal-img-des {
    margin-top: 12px;
    text-align: center;
}

.modal-img-des h3 {
    margin-bottom: 6px;
}

.modal-img-des p{
    line-height: 23px;
    color: #585858;
}

.modal-main-box{
    position: relative;
}

.cross-icon{
    position:absolute;
    top: 0px;
    right: 0px;
    width: 30px;
    height: 30px;
    background-color: #EB5757;
    text-align: center;
    line-height: 30px;
    color: white;
    border-radius: 50%;
    transform: translate(10px, -10px);
    cursor: pointer;
    
}

.accuracy {
    position: absolute;
    top: 7px;
    right: 5px;
    color: white;
    padding: 4px 13px;
    background-color: #EB5757;
    border-radius: 5px;
}


.accuracy p {
    font-size: 0.6rem;
}